.working-status{
    background-color: rgb(26, 177, 71);
    padding: auto;
    display: flex;
    align-items: center;
    justify-content: center;
    border: 1px solid green;
    margin-top: 3px;
    padding-top: 2px;
    padding-bottom: 2px;
    border-radius: 5px;
    color: wheat;
    font-weight: bold;
}
.deleted-status{
    background-color: rgb(237, 58, 18);
    padding: auto;
    display: flex;
    align-items: center;
    justify-content: center;
    border: 1px solid green;
    margin-top: 3px;
    padding-top: 2px;
    padding-bottom: 2px;
    border-radius: 5px;
    color: wheat;
    font-weight: bold;
}
.resign-status{
    background-color: rgb(85, 83, 83);
    padding: auto;
    display: flex;
    align-items: center;
    justify-content: center;
    border: 1px solid green;
    margin-top: 3px;
    padding-top: 2px;
    padding-bottom: 2px;
    border-radius: 5px;
    color: wheat;
    font-weight: bold;
}