body{
    background-image: url("https://images.pexels.com/photos/1558690/pexels-photo-1558690.jpeg?auto=compress&cs=tinysrgb&w=1600");
    background-size: cover;
    background-repeat: no-repeat;
    /* padding: 50px;
    padding-top: 50px; */
    text-decoration: solid;
   
   
}

.main{
    background-color: rgba(133, 130, 130, 0.39);
    color: black;
    border-radius: 15px;
    /* border: 2px solid black; */

}