<!DOCTYPE html>
<html lang="en">

<head th:replace="~{ head :: headFragment}">

</head>



<body>
    <!-- top navbar -->
    <nav th:replace="~{ topNavBar :: topnavbarfragment}"></nav>
    <!-- side bar -->
    <!-- <div class="offcanvas offcanvas-end" tabindex="-1" id="offcanvasNavbar" aria-labelledby="offcanvasNavbarLabel">
        <div class="offcanvas-header">
            <h5 class="offcanvas-title" id="offcanvasNavbarLabel">Offcanvas</h5>
            <button type="button" class="btn-close" data-bs-dismiss="offcanvas" aria-label="Close"></button>
        </div>
        <div class="offcanvas-body">
            <ul class="navbar-nav justify-content-end flex-grow-1 pe-3">
                <li class="nav-item">
                    <a class="nav-link active" aria-current="page" href="#">Home</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#">Link</a>
                </li>
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown"
                        aria-expanded="false">
                        Dropdown
                    </a>
                    <ul class="dropdown-menu">
                        <li><a class="dropdown-item" href="#">Action</a></li>
                        <li><a class="dropdown-item" href="#">Another action</a></li>
                        <li>
                            <hr class="dropdown-divider">
                        </li>
                        <li><a class="dropdown-item" href="#">Something else here</a></li>
                    </ul>
                </li>
            </ul>
            <form class="d-flex mt-3" role="search">
                <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search">
                <button class="btn btn-outline-success" type="submit">Search</button>
            </form>
        </div>
    </div> -->
    <div th:replace="~{ sideBar :: sidebarfragment}"></div>
    <!-- Ui content area -->

    <div class="container ">

        <div class="row main mt-5">
            <div class="col mt-1" style="height: 500px;">
                <!-- title area start -->
                <div class="container-fluid mt-1 p-4 ">
                    <!-- title -->
                    <div class="row">
                        <div class="col-12 text-center">
                            <h2><i class="fa-solid fa-user "></i>DashBoard </h2>

                        </div>
                    </div>

                </div>
                <!-- title area end -->
                <!-- body area start-->

            </div>
        </div>
    </div>

</body>

</html>