<!DOCTYPE html>
<html lang="en">

<head th:replace="~{ head :: headFragment}">

</head>
<head th:replace="~{ head :: headEmpFragment}">

</head>


<!-- <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Employee Management</title> -->
    <!-- link bs css -->
    <!-- <link rel="stylesheet" href="/resourcesT/bootstrap_5.3.1/css/bootstrap.min.css"> -->
    <!-- link bs js file -->
    <!-- <script src="resourcesT/bootstrap_5.3.1/js/bootstrap.bundle.min.js"></script> -->
    <!-- link fontawesome -->
    <!-- <link rel="stylesheet" href="/resourcesT/fontawesome_web/css/all.css"> -->
    <!-- jquery -->
    <!-- <script src="resourcesT/js/jquery.js"></script> -->
    <!-- icon -->
    <!-- <link rel="icon" href="https://cdn.pixabay.com/photo/2015/04/23/22/00/tree-736885_1280.jpg" /> -->
    <!-- button css -->
    <!-- <link rel="stylesheet" href="resourcesT/style/button.css"> -->
    <!-- common css -->
    <!-- <link rel="stylesheet" href="resourcesT/style/common.css"> -->
    <!-- employee css -->
    <!-- <link rel="stylesheet" href="resourcesT/style/employee.css"> -->
    <!-- employee css -->
    <!-- <link rel="stylesheet" href="resourcesT/style/emp.css"> -->
    <!-- link datatable css -->
    <!-- <link rel="stylesheet" href="resourcesT/dataTables-1.13.6/css/jquery.dataTables.css"> -->
    <!-- link datatable js -->
    <!-- <link rel="stylesheet" href="resourcesT/dataTables-1.13.6/js/jquery.dataTables.js"> -->
    <!-- tabel function -->
    <!-- <script src="resourcesT/js/tableFunction.js"></script> -->
    <!-- validation js -->
    <!-- <script src="resourcesT/js/validation.js"></script> -->
    <!-- link common js file -->
    <!-- <script src="resourcesT/js/commonFunction.js"></script> -->
    <!-- link employee js file -->
    <!-- <script src="controllerjs/employeeModalNew.js"></script> -->
    <!-- Include jQuery and DataTables scripts -->
    <!-- <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script> -->
    <!-- <script src="https://cdn.datatables.net/1.11.5/js/jquery.dataTables.min.js"></script> -->
    <!-- <link rel="stylesheet" href="https://cdn.datatables.net/1.11.5/css/jquery.dataTables.min.css"> -->


<!-- </head> -->

<body>
    <!-- top navbar -->
    <nav th:replace="~{ topNavBar :: topnavbarfragment}"></nav>
   
   <!-- side bar -->
<div th:replace="~{ sideBar :: sidebarfragment}"></div>

    <!-- Ui content area -->

    <div class="container " >

        <div class="row main mt-5">
            <div class="col mt-1" style="height: 500px;">
                <div class="container-fluid mt-1 p-4 ">
                    <!-- title -->
                    <div class="row">
                        <div class="col-12 text-center">
                            <h2><i class="fa-solid fa-user "></i>Employee Management </h2>

                        </div>
                    </div>

                </div>
                <!-- form button start -->
                <div class="row col-2 " style="padding-left: 15px;">
                    <button class="btn btn-primary" type="button" data-bs-toggle="modal" data-bs-target="#empForm">
                        Form
                    </button>
                </div>
                <!-- form modal start -->
                <div class="modal fade" id="empForm" tabindex="-1" aria-labelledby="exampleModalLabel"
                    aria-hidden="true" data-bs-backdrop="static" data-bs-keyboard="false">
                    <div class="modal-dialog modal-xl">
                        <div class="modal-content">
                            <div class="modal-header">
                                <h5 class="modal-title" id="exampleModalLabel">Employee Form</h5>
                                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"
                                    data-bs-target="#staticBackdrop"></button>
                            </div>
                            <div class="modal-body" data-bs-backdrop="static" data-bs-keyboard="false">
                                <!-- Emp form start -->
                                <div class="container-fluid">
                                    <!-- title -->
                                    <div class="row" style="height: 100px;">
                                        <div class="col-12 text-center ">
                                            <h2 class=""><i class="fa-solid fa-user "></i>Employee Management </h2>

                                        </div>
                                    </div>

                                </div>
                                <form onsubmit="return false" id="formEmployee">


                                    <div class="p-5 pt-0 fw-bold">

                                        <div class="row main justify-content-md-center ">
                                            <!-- style="margin-top: 10px;width: 1200px; margin-left: 200px;" -->
                                            <div class="container ">
                                                <!-- Required field -->
                                                <div class="row" style="margin-left: 10px;">

                                                    <div>
                                                        <b>
                                                            <p class="fw-bold fs-5 fw-bold">
                                                                <span class="text-danger">

                                                                    * Required
                                                                </span>
                                                            </p>
                                                        </b>
                                                    </div>
                                                </div>
                                                <!-- Required field end -->
                                                <!-- full name start -->
                                                <div class="row">
                                                    <div class="mb-3 row " style="height: 40px;">
                                                        <label for="inputFullName1"
                                                            class="col-lg-2 col-form-label fs-5 fw-bold">Full
                                                            Name</label>
                                                        <div class="col-lg-10 ">
                                                            <input type="text" class="form-control form-control-lg "
                                                                placeholder="Enter Full Name" id="inputFullName1"
                                                                required onchange='generateCallingNameValues()'
                                                                onkeyup="textValidation(inputFullName1, '^([A-Z][a-z]{2,30}[\\s])+([A-Z][a-z]{2,30}){1}$', 'employee', 'fullname')">


                                                        </div>
                                                    </div>


                                                </div>
                                                <!-- fullname end -->
                                                <div class="row">
                                                    <!-- calling name start -->
                                                    <div class="col">
                                                        <label for="inputCallingName"
                                                            class="col-sm-2 col-form-label fs-5 fw-bold">CallingName</label>
                                                        <div class="col-lg-10">
                                                            <input placeholder="Enter Calling Name" type="text"
                                                                class="form-control form-control-lg"
                                                                id="inputCallingName" list="dtaList"
                                                                onkeyup="txtCallingNameValidator(this)"
                                                                onchange="txtCallingNameValidator(this)">
                                                            <datalist id="dtaList">
                                                                <option value="Hirusha">
                                                                <option value="Achintha">
                                                                <option value="Fernando">

                                                            </datalist>
                                                        </div>

                                                    </div>
                                                    <!-- calling name end -->
                                                    <!-- nic start -->
                                                    <div class="col">
                                                        <label for="inputNIC"
                                                            class="col-sm-2 col-form-label fs-5 fw-bold">NIC</label>
                                                        <div class="col-lg-10">
                                                            <input placeholder="Enter NIC" type="text"
                                                                class="form-control form-control-lg" id="inputNIC"
                                                                onkeyup="textValidation(inputNIC, '^(([0-9]{9}[VvXxSs])|([0-9]{12}))$', 'employee', 'nic');">
                                                        </div>
                                                    </div>
                                                    <!-- nic end -->
                                                    <!-- gender start -->
                                                    <div class="col">
                                                        <div class="row">

                                                            <label for="inputCallingName"
                                                                class="col-sm-2 col-form-label fs-5 fw-bold">Gender</label>
                                                        </div>
                                                        <!-- <div class="row" > -->
                                                        <div class="form-check form-check-inline">
                                                            <input class="form-check-input" type="radio"
                                                                name="flexRadioGender" id="flexRadioMale" value="Male"
                                                                onchange="radioFieldValidator(flexRadioMale,'', 'employee', 'gender')">
                                                            <label class="form-check-label fs-5 fw-bold"
                                                                for="flexRadioMale">
                                                                male
                                                            </label>
                                                        </div>
                                                        <div class="form-check form-check-inline">
                                                            <input class="form-check-input" type="radio"
                                                                name="flexRadioGender" id="flexRadioFemale"
                                                                value="Female"
                                                                onchange="radioFieldValidator(flexRadioFemale,'', 'employee', 'gender')">
                                                            <label class="form-check-label fs-5 fw-bold"
                                                                for="flexRadioFemale">
                                                                female
                                                            </label>
                                                        </div>
                                                        <!-- </div> -->

                                                    </div>
                                                    <!-- gender end -->
                                                    <!-- dob start -->
                                                    <div class="col">
                                                        <label for="inputCallingName"
                                                            class="col-sm-2 col-form-label fs-5 fw-bold">
                                                            DOB<span style="color: red;">*</span>

                                                        </label>
                                                        <div class="col-lg-10">
                                                            <input type="date" class="form-control form-control-lg"
                                                                id="inputDob" required
                                                                onchange="dateFieldValidation(inputDob,'^[0-9]{4}[-][0-9]{2}[-][0-9]{2}$','employee','dateofbirth');">
                                                        </div>

                                                    </div>
                                                    <!-- dob end -->

                                                </div>
                                                <div class="row">
                                                    <!-- mobile no start -->
                                                    <div class="col">
                                                        <label for="inputMobNo"
                                                            class="col-sm-2 col-form-label fs-5 fw-bold">Mobile</label>
                                                        <div class="col-lg-10 ">
                                                            <input placeholder="Enter Mobile No" type="text"
                                                                class="form-control form-control-lg" id="inputMobNo"
                                                                onkeyup="textValidation(inputMobNo,'^[0][7][1245678][0-9]{7}$', 'employee', 'mobile');"
                                                                required>
                                                        </div>
                                                    </div>
                                                    <!-- mobile no end -->
                                                    <!-- land no start -->
                                                    <div class="col">
                                                        <label for="inputLandNo"
                                                            class="col-sm-2 col-form-label fs-5 fw-bold">LandNo</label>
                                                        <!-- <div class="col-lg-10">
                                                            <input placeholder="Enter Land No" type="text" class="form-control form-control-lg" id="inputLandNo">
                                                        </div> -->
                                                        <div class="input-group mb-3 input-group-lg ">
                                                            <span class="input-group-text" id="basic-addon1"><i
                                                                    class="fa-sharp fa-solid fa-phone-volume"></i></span>
                                                            <input type="text" class="form-control"
                                                                placeholder="Enter Land No" aria-label="Username"
                                                                aria-describedby="basic-addon1" id="inputLand"
                                                                onkeyup="textValidation(inputLand, '^[0][12345689][0-9]{8}$', 'employee', 'landno');">
                                                        </div>

                                                    </div>
                                                    <!-- land no end -->
                                                    <!-- email start -->
                                                    <div class="col ">
                                                        <label for="inputEmail"
                                                            class="col-sm-2 col-form-label fs-5 fw-bold">Email<span
                                                                class="text-danger">(Optional)</span>
                                                        </label>
                                                        <div class="col-lg-10">
                                                            <input placeholder="Enter Email" type="email"
                                                                class="form-control form-control-lg" id="inputEmail"
                                                                onkeyup="textValidation(inputEmail, '^[A-Za-z0-9]{6,20}[@][a-z]{3,10}[.][a-z]{2,3}$', 'employee', 'email');">
                                                        </div>
                                                    </div>
                                                    <!-- email end -->
                                                </div>
                                                <div class="row ">
                                                    <!-- address start -->
                                                    <div class="col">

                                                        <div class="input-group">
                                                            <span class="input-group-text fs-5 fw-bold">Adress</span>
                                                            <textarea class="form-control" aria-label="With textarea"
                                                                id="inputAddress" onkeyup="textValidation(inputAddress, 
                                                                // '^([A-Za-z0-9\\/\\-\\s]{1,20}[/\\s]+([A-Z][a-z]{1,20}[.]))$', 
                                                                '^([A-Z][a-z]{2,30}[\\s])+([A-Z][a-z]{2,30}){1}$',
                                                                'employee', 'address');"></textarea>
                                                        </div>
                                                    </div>

                                                    <!-- address end -->
                                                    <!-- note start -->
                                                    <div class="col ">

                                                        <div class="input-group">
                                                            <span class="input-group-text fs-5 fw-bold">Note:<span
                                                                    class="text-danger">(Optional)</span></span>
                                                            <textarea class="form-control" aria-label="With textarea">

                                                            </textarea>
                                                        </div>
                                                    </div>

                                                    <!-- note end -->
                                                </div>
                                                <div class="row">
                                                    <!-- designation start -->
                                                    <div class="col">
                                                        <label for="inputDesignation"
                                                            class="col-sm-2 col-form-label fs-5 fw-bold">Designation</label>
                                                        <select id="selectDesignation"
                                                            class="form-select form-select-lg"
                                                            aria-label="Default select example"
                                                            onchange="selectDFieldValidation(selectDesignation,'', 'employee', 'designation_id')">
                                                            <!-- <option selected disabled value="">Select Designation
                                                            </option>
                                                            <option value="cashier">Cashier</option>
                                                            <option value="manager">Manager</option> -->

                                                        </select>
                                                    </div>
                                                    <!-- designation end -->
                                                    <!-- civil status start -->
                                                    <div class="col">
                                                        <label for="inputCivilStatus"
                                                            class="col-sm-2 col-form-label fs-5 fw-bold">Civil</label>
                                                        <select class="form-select form-select-lg"
                                                            aria-label="Default select example" id="selectStatus"
                                                            onchange="selectFieldValidation(selectStatus,'', 'employee', 'civilstatus')">
                                                            <option selected>Select Civil Status</option>
                                                            <option value="1">One</option>
                                                            <option value="2">Two</option>
                                                            <option value="3">Three</option>
                                                        </select>
                                                    </div>
                                                    <!-- civil status end -->
                                                    <!-- emp status start -->
                                                    <div class="col">
                                                        <label for="inputDesignation"
                                                            class="col-sm-2 col-form-label fs-5 fw-bold">EmpStatus</label>
                                                        <select class="form-select form-select-lg"
                                                            aria-label="Default select example" id="selectEStatus"
                                                            onchange="selectDFieldValidation(selectEStatus,'', 'employee', 'employeestatus_id')">
                                                            <!-- <option selected>Select Employee Status</option>
                                                            <option value="1">One</option>
                                                            <option value="2">Two</option>
                                                            <option value="3">Three</option> -->
                                                        </select>
                                                    </div>
                                                    <!-- emp status end -->
                                                </div>
                                                <!-- button group start -->
                                                <div class="row mt-4 mb-3"
                                                    style="display: flex;justify-content: space-between;">
                                                    <div class="col">
                                                        <button type="button" class="btn btn-lg btn-info"><i
                                                                class="fa-solid fa-broom"></i>Clear</button>
                                                    </div>
                                                    <div class="col"
                                                        style="display: flex; justify-content: flex-end;gap:10px">
                                                        <button type="button" class="btn btn-lg btn-warning"
                                                            style="border-radius: 30px;" onclick="buttonEmpUpdate()"><i
                                                                class="fa-solid fa-pen-to-square"></i>Update</button>
                                                        <button type="button" class="btn btn-lg btn-success"
                                                            style="border-radius: 30px;" onclick="buttonEmpAdd()"><i
                                                                class="fa-solid fa-plus"></i>Add</button>
                                                    </div>
                                                </div>
                                                <!-- button group end -->



                                            </div>
                                        </div>
                                    </div>


                                </form>
                                <!-- Emp form end -->

                            </div>

                        </div>
                    </div>
                </div>
                <!-- form modal end -->
                <!-- form button end -->
                <!-- table start -->
                <table class="table table-bordered mt-3" id="tableEmployee">
                    <thead class="table-dark">
                        <th>#</th>
                        <th>Number</th>
                        <th>Full Name</th>
                        <th>NIC</th>
                        <th>Mobile</th>
                        <th>Email</th>
                        <th>Status</th>
                        <th>Designation</th>
                        <th>Use Account</th>
                        <th>Button</th>
                    </thead>
                    <tbody>
                    </tbody>
                </table>
                <!-- table end -->

            </div>
        </div>
    </div>

    <!-- link js file -->
    <!-- <script src="employeeModal.js"></script> -->
</body>

</html>