<!-- common segment -->
<head th:fragment="headFragment">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title th:text="${title}">DashBoard</title>
    <!-- link bs css -->
    <link rel="stylesheet" href="/resourcesT/bootstrap_5.3.1/css/bootstrap.min.css">
    <!-- link bs js file -->
    <script src="resourcesT/bootstrap_5.3.1/js/bootstrap.bundle.min.js"></script>
    <!-- link fontawesome -->
    <link rel="stylesheet" href="/resourcesT/fontawesome_web/css/all.css">
    <!-- jquery -->
    <script src="resourcesT/js/jquery.js"></script>
    <!-- icon -->
    <link rel="icon" href="https://cdn.pixabay.com/photo/2015/04/23/22/00/tree-736885_1280.jpg" />

    <!-- link datatable css -->
    <link rel="stylesheet" href="resourcesT/dataTables-1.13.6/css/jquery.dataTables.css">
    <!-- link datatable js -->
    <!-- <link rel="stylesheet" href="resourcesT/dataTables-1.13.6/js/jquery.dataTables.js"> -->

    <!-- Include jQuery and DataTables scripts -->
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script src="https://cdn.datatables.net/1.11.5/js/jquery.dataTables.min.js"></script>
    <link rel="stylesheet" href="https://cdn.datatables.net/1.11.5/css/jquery.dataTables.min.css">
</head>
<!-- employee segment -->
<head th:fragment="headEmpFragment">
        <!-- button css -->
        <link rel="stylesheet" href="resourcesT/style/button.css">
        <!-- common css -->
        <link rel="stylesheet" href="resourcesT/style/common.css">
        <!-- employee css -->
        <link rel="stylesheet" href="resourcesT/style/employee.css">
        <!-- employee css -->
        <link rel="stylesheet" href="resourcesT/style/emp.css">
        <!-- tabel function -->
        <script src="resourcesT/js/tableFunction.js"></script>
        <!-- validation js -->
        <script src="resourcesT/js/validation.js"></script>
        <!-- link common js file -->
        <script src="resourcesT/js/commonFunction.js"></script>
        <!-- link employee js file -->
        <script src="controllerjs/employeeModalNew.js"></script>

</head>
<head th:fragment="headPrivilegeFragment">

</head>
<head th:fragment="headUserFragment">

</head>
<head th:fragment="headItemFormFragment">
            <!-- button css -->
            <link rel="stylesheet" href="resourcesT/style/button.css">
            <!-- common css -->
            <link rel="stylesheet" href="resourcesT/style/common.css">
            <!-- employee css -->
            <link rel="stylesheet" href="resourcesT/style/employee.css">
            <!-- employee css -->
            <link rel="stylesheet" href="resourcesT/style/emp.css">
            <!-- tabel function -->
            <script src="resourcesT/js/tableFunction.js"></script>
            <!-- validation js -->
            <script src="resourcesT/js/validation.js"></script>
            <!-- link common js file -->
            <script src="resourcesT/js/commonFunction.js"></script>
            <!-- link employee js file -->
            <script src="controllerjs/itemForm.js"></script>
</head>
<head th:fragment="headItemTableFragment">
            <!-- button css -->
            <link rel="stylesheet" href="resourcesT/style/button.css">
            <!-- common css -->
            <link rel="stylesheet" href="resourcesT/style/common.css">
            <!-- employee css -->
            <link rel="stylesheet" href="resourcesT/style/employee.css">
            <!-- employee css -->
            <link rel="stylesheet" href="resourcesT/style/emp.css">
            <!-- tabel function -->
            <script src="resourcesT/js/tableFunction.js"></script>
            <!-- validation js -->
            <script src="resourcesT/js/validation.js"></script>
            <!-- link common js file -->
            <script src="resourcesT/js/commonFunction.js"></script>
            <!-- link employee js file -->
            <script src="controllerjs/itemTable.js"></script>
</head>