<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login</title>
    <!-- link bs css -->
    <link rel="stylesheet" href="resourcesT/bootstrap_5.3.1/css/bootstrap.min.css">
    <!-- link bs js file -->
    <script src="resourcesT/bootstrap_5.3.1/js/bootstrap.bundle.min.js"></script>

</head>

<body>
    <h2>Login Form</h2>
    <form action="/login" method="post">

        <input type="text" name="username" id="txtUserName" required placeholder="Enter Username"><br>
        <input type="text" name="password" id="txtPassword" required placeholder="Enter Password"><br>

        <button class="btn btn-primary" type="submit">Login</button>
    </form>


</body>

</html>