<nav class="navbar navbar-light fixed-top" th:fragment="topnavbarfragment" style="background-color: rgb(100, 191, 237);">
    <div class="container-fluid">
        <button class="navbar-toggler" type="button" data-bs-toggle="offcanvas" data-bs-target="#offcanvasNavbar"
            aria-controls="offcanvasNavbar">

            <span class="navbar-toggler-icon"></span>
        </button>

        
        <a class="navbar-brand" href="#" th:text="${logusername}">Test Project</a>
        <a class="ms-2" href="#" onclick="btnSignOut()" >
            <i class="fas fa-sign-out-alt ">

            </i>
            Logout
        </a>
    </div>
</nav>